<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <appSettings>

    <add key="servidorSQL" value="192.168.35.251" />
    <add key="usuarioSQL" value="sa" />
    <add key="passwordSQL" value="MJ5813seje" />
    <add key="bdSQL" value="News"/>

  </appSettings>
</configuration>